<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moviesdb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_theaters_white_18dp"
        android:label="USC Films"
        android:roundIcon="@drawable/ic_theaters_white_18dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".activity.ReviewActivity"></activity>
        <activity android:name=".activity.DetailsActivity"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>